.profile {
  margin: 0 auto;
  width: 448px;
  display: flex;
  justify-content: center;
  background-color: #e7ecf2;
  padding: 86px 60px;
}

.container {
  width: 252px;
  display: block;
  background-color: #fff;
  border-radius: 4px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding-top: 34px
}
